{{ include('admin/user/_delete_user_confirm.html.twig') }}
<button type="button" class="btn btn-sm btn-block btn-danger" data-toggle="modal" data-target="#confirmationModal"><i class="fas fa-trash" aria-hidden="true"></i>
    {{ 'action.delete_user'|trans }}
</button>